.navbar-label {
    color: white;
    font-family: 'Times New Roman';
    padding: 10px;
    font-weight: bold;
    background-color: rgb(74, 170, 165);
    text-align: center;
}

.nav-box {
    /* height: 100px; */
    background-color: rgb(74, 170, 165);
    height: 60px;
    width: 140px;
}

.nav-height {
    height: 60px;
}

.body {
    background-color: lightgrey;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding-top: 1px;
    border-bottom: solid 10px rgb(74, 170, 165);
}

.cont-padding {
    padding-top: 100px;
}

.col-box {
    background-color: white;
    padding: 40px;
}

.summary-resize {
    float: left;
    height: 254px;
    width: 279px;
}

.plot-image-box {
    position: relative;
}

.plot-img-resize {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.viz-resize {
    height: 130px;
    width: 130px;
    display: inline-block;
}

h2 {
    color: rgb(74, 170, 165);
}

h3 {
    color: rgb(74, 170, 165);
}