.navbar-label {
    color: white;
    font-family: 'Times New Roman';
    padding: 10px;
    font-weight: bold;
    background-color: rgb(74, 170, 165);
    text-align: center;
}

.nav-box {
    /* height: 100px; */
    background-color: rgb(74, 170, 165);
    height: 60px;
    width: 140px;
}

.nav-height {
    height: 60px;
}

.body {
    background-color: lightgrey;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding-top: 1px;
    border-bottom: solid 10px rgb(74, 170, 165);
}